
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,300;0,700;1,400&family=Public+Sans:wght@100;500;800;900&family=Roboto+Condensed&family=Roboto+Mono:wght@300&display=swap');
*{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(249, 249, 249);
    font-family: 'Public Sans', sans-serif;

   
}
.warapper .sidebar{
    position:fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding: 5px 0;
    overflow: scroll; 
    transition: all 0.5s ease;
    z-index: 1;
}
.warapper .top{
    width:auto;
    margin-left: 280px;
    transition: all 0.5s ease;   
    
}
.warapper .top_navber{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    
}

body.active .warapper .sidebar{
    left: -280px;
}
body.active .warapper .top{
    margin-left: 0px;
}
.side_close{
    display: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .drop:hover{
    background: #1d2f43 !important;
    color: #ffffff;
    
  }
.accordion-button {
    transition: .5s;
    font-size: 18px;

}
.accordion-button::after  {
    display: none;
    
}
.accordion-button .bi-chevron-right {
    transform: rotate(90deg);
    transition: .5s;
    font-size: 15px;
    font-weight: bold;
}
.collapsed .bi-chevron-right {
    transform: rotate(00deg);
}
.accordion-button:not(.collapsed) {
    background: #1d2f43 !important;   
    color: #ffffff;
    font-size: 22px;
}

.nav-content li a{
    text-decoration: none;
    font-size:16px;
    color: #1d2f43ad;
    transition: .5s ;
}

.sidebar_item_icone{
    width: 24px;
    height: 24px;
}


.bell{
    position: relative;
}
.bell::after{
    position: absolute;
    background-color: red;
    content:"4";
    font-size: 8px;
    color:#ffffff ;
    padding: 3px;
    border-radius: 50%;
    top:-5px;
    right:2px;
}


.section_2{
    margin-top: 250px ;

}

.polorchart{
    height: 300px;
}
.nav-content li {
    padding: 4px 0px 4px 8px;
    transition: .5s;
}
.nav-content li:hover {
    background-color: #1d2f4442;
    font-size:bold !important;
    color: #1d2f43 !important;
    
    
}


/* login start*/
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.form-outline .form-control{
    border:1px solid !important;
}
/* login end */


@media only screen and (max-width: 1023px) {
    .section_2{
        margin-top: 820px ;
    }
    
    .polorchart{
        height: 300px;
    }
    
    
   
  }
@media only screen and (max-width: 767px) {

    .warapper .sidebar{
        left: -280px;
        position: absolute;
        position: fixed;
    }
    body.active .warapper .sidebar{
        left: 0%;
    }
    .warapper .top{
        margin-left:0%;
    }
    .side_close{
        display:block;
    }
    .top input {
       display:none;
    }
    
    .profile-pic {
        height: 30px;
        width: 30px;
    }
    
    .section_2{
        margin-top: 820px ;
    }
    
    .polorchart{
        height: 300px;
    }
    .fs-7{
        font-size: 13px;
    }
   
  }
